@import '~antd/dist/antd.compact.css';

.homepage-layout {
  position: inherit;
  height: 100%;
  width: 100%;
}

.menu {
  /* background-color:rgb(164, 189, 181); */
  width: 100vw;
  height: 8vh;
  margin: auto;
  display: flex;
}

.menu-item {
  position: absolute;
  margin: auto;
  width: 5vw;

}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#div-sign-out-btn {
  /* margin: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-icon {
  margin-right: 2%;
}


