.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.amplify-container {
  color: #282c34;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.authenticator {
  position: fixed;
  margin: auto;
  top: 300px;
  right: 0;
  bottom: 0;
  left: 0;
}






#amplify-authenticator__subtitle {
  color: white;
}
