.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  /* width: 100vw; */
  /* height: 100vh; */
}

.authenticator {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,85,102,1) 35%, rgba(0,85,102,1) 100%);
}

